.App {
  background-image: url(./imagesBackgrounds/background_default_day.jpg);
  background-size: cover;
  max-width: 1200px;
  background-blend-mode: lighten, exclusion;
  background-repeat: no-repeat;
  padding: 50px;
  margin: 50px auto;
  border-radius: 50px;
}

.App .wrapper-container {
  font-family: PT mono, monospace;
  background-color: hsla(155, 37%, 76%, 0.497);
  padding: 30px 30px 10px;
  border: solid;
  border-color: #1c7696;
  border-radius: 50px;
}
