.Footer {
  margin: 50px auto 0px auto;
  padding: 5px;
  text-align: center;
  font-size: 12px;
  font-weight: 900;
  max-width: fit-content;
  background-color: rgba(221, 181, 212, 0.6);
  border-radius: 50px;
  border: solid;
  border-color: #af42b3b1;
}
.Footer a {
  text-decoration: none;
  transition: all 150ms ease-in-out;
}
