.Forecast {
  margin: 0 auto;
}
.Forecast .icon img {
  max-width: 80px;
  padding: 5px;
}
.Forecast .the-day {
  margin: 0 auto;
  text-align: center;
  padding: 10px 5px;
  border-radius: 30px;
  background-color: rgba(130, 141, 142, 0.409);
}
.Forecast .now {
  margin: 0 auto;
  font-weight: 900;
  font-size: 25px;
  text-align: center;
}
.Forecast .dailyTemperature,
.Forecast .temperatureDaily {
  margin: 0 auto;
}
.Forecast .forecast-weather {
  text-align: center;
  padding: 10px 5px;
  margin: 25px auto;
  border-radius: 30px;
  background-color: rgba(130, 141, 142, 0.409);
}

.Forecast .tue {
  margin: 0 auto;
  font-weight: 900;
  font-size: 25px;
  text-align: center;
}

.Forecast .temperature-min {
  opacity: 0.5;
}
