@media (max-width: 992px) {
  .App {
    max-width: fit-content;
    min-width: fit-content;
  }
  .Search {
    min-width: 100%;
    min-height: 100%;
  }
  .bg-img {
    width: 100%;
  }
  .wrapper-container {
    min-width: fit-content;
    border-radius: 50px;
    margin: auto;
    align-items: center;
  }
  .right div {
    font-size: 20px;
  }

  .Weather {
    margin-left: 0;
    margin-right: 0;
    max-width: fit-content;
    height: fit-content;
  }
  .today-left {
    max-height: 300px;
  }
  .weather-today-icon p {
    font-size: 20px;
  }

  .wind p,
  .humidity p,
  .sunrise p,
  .wind div,
  .humidity div,
  .sunrise div {
    display: inline-flex;
  }

  .now div,
  .tue div {
    text-align: center;
    font-size: 20px;
    padding: 0;
    margin: 0;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .search-form {
    margin-left: 25px;
    min-width: fit-content;
  }
  .weather-today-text {
    min-width: fit-content;
    height: 200px;
  }

  .Forecast .tue,
  .Forecast .now {
    max-width: 80px;
    display: inline-block;
  }
  .WeatherForecastDaily .day,
  .WeatherForecastDaily .temp,
  .WeatherForecastHourly .dailyTime,
  .WeatherForecastHourly .dailyTemperature {
    font-size: 16px;
  }

  .Forecast .icon img {
    width: 70px;
  }
}
@media (max-width: 720px) {
  .WeatherForecastDaily .day,
  .WeatherForecastDaily .temp,
  .WeatherForecastHourly .dailyTime,
  .WeatherForecastHourly .dailyTemperature {
    font-size: 20px;
  }

  .Forecast .icon img {
    width: 80px;
  }
  .Forecast .tue,
  .Forecast .now {
    max-width: 150px;
  }
}

@media (max-width: 679px) {
  .weather-today-icon {
    margin-top: 35px;
    width: fit-content;
    height: 150px;
    justify-content: center;
    justify-content: space-evenly;
  }

  .weather-today-icon p {
    font-size: 20px;
  }
  .weather-today-icon img {
    display: block;
    margin: 0 auto;
    width: 120px;
  }
  .Forecast .tue,
  .Forecast .now {
    padding-bottom: 15px;
    padding-top: 10px;
  }
}
@media (max-width: 576px) {
  .wrapper-container {
    box-shadow: none;
  }
  .current-location-button {
    padding: 5px;
  }
  .Search .search-box {
    font-size: 15px;
    padding: 5px;
    width: 200px;

    border: solid;
    border-color: #1c7696;
    border-radius: 15px 0 0 15px;
    border-right: none;
  }

  .search-button {
    padding: 5px;
    font-size: 15px;
  }
  .weather-today-icon {
    display: none;
  }
  .Forecast .tue,
  .Forecast .now {
    max-width: 125px;
  }
}
@media (max-width: 384px) {
  .Search .search-box {
    width: 140px;
    font-size: 10px;
  }
  .Forecast .tue,
  .Forecast .now {
    max-width: 90px;
  }
}
