.Search {
  font-family: PT mono, monospace;
}
.bg-img {
  border: 0px;
  margin: 0 auto;
  justify-content: center;
  justify-content: space-evenly;
  width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.wrapper-container {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.75)
  );
  padding: 30px 30px;
  border-radius: 50px;
  display: block;
  margin: 20px auto;
  width: 100%;
  min-height: fit-content;
  box-shadow: 15px 5px 10px rgba(0, 0, 0, 0.9);
}

.cont {
  margin: 50px auto;
}

.Search .search-form {
  padding-top: 30px;
  display: flex;
  justify-content: center;
}
.Search .search-box {
  font-size: 20px;
  padding: 15px;
  color: #1c7696;
  border: solid;
  border-color: #1c7696;
  border-radius: 15px 0 0 15px;
  border-right: none;
}
.Search .search-button {
  padding: 10px 25px;
  font-size: 20px;
  font-style: bolder;
  border: solid;
  border-color: #1c7696;
  border-radius: 0 15px 15px 0;
  text-align: center;
}
.Search .search-button:hover {
  color: #9db9c4;
  background-color: #2d5564;
}
.Search .current-location-button {
  width: 70px;
  padding: 10px;
  font-size: 20px;
  font-style: bolder;
  color: black;
  border: solid;
  border-color: #1c7696;
  border-radius: 15px;
  text-align: center;
  background-color: #f2ce04;
}
.Search .current-location-button:hover {
  color: #f2ce04;
  background-color: #2d5564;
}
